/**********************\
* Local styling for    *
* Social App.          *
\**********************/

#datetime { 
    display: none;
}

#repeater { 
    display: none;
}

.error {
    display: none;
    color: #f00;
    font-style: italic;
}

#content {
    margin: 30px;
    width: 750px;
}

label{ 
    width: 300px;
    padding: 10px 5px;
    display: inline-block;
}

input{
    width: 400px;
    padding: 10px 5px;
    display: inline-block;
    border: 1px solid #666;
    font-size: 14px;
}

#PlaftormChecks input{  
    width: 20px;
}

#PlaftormChecks label{
    width: 210px;
}

#PlaftormChecks div {
    display: inline-block;
}

input[type="submit"]{
    margin-left: 315px;
    width: 412px;
    padding: 10px 0;
    font-size: 20px;
    background-color: #666;
    color: #fff;
    
}

input[type="submit"]:hover{
    
    background-color: #000;
}

textarea{
    width: 400px;
    border: 1px solid #666;
    padding: 10px 5px;
    height: 80px;
    font-size: 12pt;
}

select{
    width: 410px;
    border: 1px solid #666;
    padding: 10px 5px;
    height: 35px;
    font-size: 14px;
    margin-bottom: 10px;
}

#datetime select {
    width: 97px;
}


#datetimecsv select{
    width: 135px;
}

#sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    border-left: 1px solid black;
    padding-left: 10px;
}